@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .layout {
    /* 1088px */
    max-width: 68rem;
    @apply mx-auto w-11/12;
  }

  .section-screen {
    /* 1dvh-navbar */
    @apply min-h-[calc(100dvh-5.5rem)];
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}
.prose p {
  font-size: 1.125rem;
  @screen sm {
    font-size: 1.25rem;
  }
}
